<html ng-app="app">
<head>

    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>

    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>

<div ng-controller="MainCtrl">
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <br>
    <input type="button" value="Submit" ng-click="displayName()"/>
</div>

<script type="text/javascript" src="phonegap.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<script>

    angular.module('app', []);

    angular.module('app').controller('MainCtrl', function ($scope) {
        $scope.displayName = function () {
            alert("Hello " + $scope.yourName + "!!!");
        }
    });

</script>

</body>
</html>

